[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mysql-connector-python = "*"
uvicorn = "*"
firebase-admin = "*"
python-dotenv = "*"
sqlalchemy = "*"
pydantic = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.13"
